* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #FD6E0A;
    border: 0;
    padding: 18px 36px;
    border-radius: 2px;
}

header {
    background: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* banner style */

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 75px;
}

.banner.discription {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.banner .button {
    margin-top: 20px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}


/* seation styles */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}


/* whwt i do styles */

.what-i-do-section {
    margin-top: 130px;
}

.what-i-do-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.what-i-do-description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.skills-develop {
    display: flex;
    align-items: stretch;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill {
    margin-left: 24px;
    margin: 30px 32px 30px;
    padding-top: 20px;
}

.skill-description {
    margin-top: 20px;
}


/* resume part */

.resume-section {
    margin-top: 130px;
}

.resume-experiance {
    margin-top: 80px;
}

.resume-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.resume-experiance {
    display: flex;
    gap: 80px;
}

.my-education h4 {
    font-size: 30px;
}

.sub-education h6 {
    font-size: 20px;
    line-height: 34px;
    color: #474747;
    margin-top: 30px;
}

.sub-education .uv {
    font-size: 15px;
    color: #757575;
    margin-top: 10px;
}

.sub-education p {
    color: #757575;
    font-size: 12px;
    margin-top: 20px;
}

.my-experiance h4 {
    font-size: 30px;
}

.sub-experiance h6 {
    font-size: 20px;
    line-height: 34px;
    color: #474747;
    margin-top: 30px;
}

.sub-experiance .apple {
    font-size: 15px;
    color: #757575;
    margin-top: 10px;
}

.sub-experiance p {
    color: #757575;
    font-size: 12px;
    margin-top: 20px;
}

.resume-section .button {
    text-align: center;
    margin-top: 20px;
}


/* contract styles */

.part {
    display: flex;
}

.contract-section {
    background: #FFF8F3;
}

.part-one .contract-title {
    color: #181818;
    font-size: 32px;
}

.part-one .contract-description {
    color: #474747;
    font-size: 17px;
}

.part-two .message-title {
    color: #181818;
    font-size: 32px;
}